<header class="text-gray-700 body-font sticky top-0 bg-white z-10">
  <div
    class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center"
  >
    <a
      class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0"
      href="{{ .Site.BaseURL }}"
    >
      <!-- <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        stroke="currentColor"
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        class="w-10 h-10 text-white p-2 bg-blue-500 rounded-full"
        viewBox="0 0 24 24"
      >
        <path
          d="M12 2L2 7l10 5 10-5-10-5zM2 17l10 5 10-5M2 12l10 5 10-5"
        ></path>
      </svg> -->
      <img style="width: 180px;height: 48px;" src="//cdn.shopify.com/s/files/1/0068/3599/4706/files/4_2f03e0b1-dd81-4d95-b65c-f46beeba899f_180x.png?v=1589445072" alt="" srcset="">
      <!-- <span class="ml-3 text-xl">{{ .Site.Params.Author }}</span> -->
    </a>
    <nav
      class="md:ml-auto flex flex-wrap items-center text-base justify-center"
    >
      {{ if eq .Site.Params.hideAutoMenu false }}
      <a
        class="mr-2 px-2 rounded cursor-pointer select-none hover:text-gray-900 show-all"
        >All</a
      >
      {{ range .Site.Sections }}
      <a
        class="mr-2 px-2 rounded cursor-pointer select-none hover:text-gray-900 filter-{{lower .Title}}"
        >{{.Title}}</a
      >
      {{ end }}{{ end }}
      {{ range .Site.Menus.main }}
      <a
      href="{{ .URL }}"
      class="mr-2 px-2 rounded cursor-pointer select-none hover:text-gray-900"
      target="_blank"
      >{{ .Name }}</a>
      {{ end }}
    </nav>
  </div>
</header>
